
/* .greet{
    margin: 50px 0px;
    font-size: 30px;
    color:#c4c7c5;
    font-weight: 500;
}
.greet p span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.content{
    margin-top: 100px;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .u-name {
    background: linear-gradient(270deg, #00008B, #1E90FF, #87CEFA);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 6s ease infinite;
    font-weight: bold;
    
  }
  .under-construction{
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
  }
  